<!DOCTYPE html>
<html>

<head>
    <title>Country Found</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <h1>Pays trouvé</h1>
    <ul>
        <%
var list = '';
for (i = 0; i < country_found.length; i++) {
list += '<li><b> Pays : </b>' + country_found[i]['name'].common + "<b> Area : </b> " 
    + country_found[i]['area'] + 
    "<b> Region </b> " + country_found[i]['region'] + 
    " <b> languages : </b>";
}

for (x = 0; x < lan_data.length; x++) {
    
    list +=  lan_data[x] +  '</li>';
 }



%>
            <%- list %>

    </ul>
</body>

</html>