<!DOCTYPE html>
<html>

<head>
    <title>Add User</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <form id="formFindCountry" name="pays" method="post" action="/country_found">
        <input id="pays" type="text" placeholder="pays" name="pays" />
        <button id="btnSubmit" type="submit">Submit</button>
    </form>
</body>

</html>