<!DOCTYPE html>
<html>

<head>
    <title>User List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Noms des pays ayant le néerlandais parmi leurs langues officielles</h1>
    <ol>
        <%
var list = '';
for (i = 0; i < neerlandais.length; i++) {
list += '<li>' + neerlandais[i]['name'].common+ '</li>';
}
%>
            <%- list %>
    </ol>
</body>

</html>